footer{
    background-color: rgb(150, 125, 78); 

    color: white;
   
    width: 100%;
    padding: 20px 0;
    text-align: center;

}
footer div{
/*position: relative; 

  top: 50%; left: 50%;
  */
}