header{
    background-color:rgb(53, 66, 74) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-bar{
  float: right;
  margin-right: 5%;
}
.nav-bar a{
color: white;
text-decoration: none;
text-transform: uppercase;


}
.nav-bar li{
    list-style: none;
    display: inline-block;
    margin: 5px;
}
.nav-bar a:hover{
    color: rgb(150, 125, 78); 
}

.logo {
   color: white; 
   margin-left: 10%;
   width: 30%;
   display: inline-block;
}