body {
background-color:rgb(224, 224, 224) ;
font-size: 14px;
margin:0;
}

.text-borwn{
    color: rgb(150, 125, 78); 
}
button{
    background-color:   rgb(150, 125, 78);
    color: white;
    border: none;
    padding: 7px
}

.courses{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px
    
    
}
.course-item{
    width: 33.3%;
   
}
.subscribe-section{
    background-color:rgb(53, 66, 74) ;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
fieldset{
    border: none;
}
